*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D6BA6;
}


.Logo{
    border-radius: 100px;
}

.texto{
    display: flex;
    flex-direction: column;
    
    
}

.qualquermerda{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ancoras{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    
}

.ancoras a {
    text-decoration: none;
    color: black;
}

.ancoras a:hover{
    color:#0D6BA6;
}


#Search{
    border-radius: 100px;
    height: 30px;
    width: 400px;
}

.pesquisa button{
    border-radius: 20px;
    height: 33px;
    width: 60px;

}

.pesquisa{
    display: flex;
    margin: 50px;
    gap: 5px;
    

}

.slides{
    display: flex;
    gap: 15px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F4BC33;
    
}

.principais img{
    height: 300px;
    width: 500px;
}

.principais{
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 30px;
}


.principais ul ol{
    margin-top: 45px;

}

.principais p{
    margin: 25px;
}

.coisa1{
    display: flex;
    flex-direction: row;
    
}

.coisa2{
    display: flex;
    flex-direction: row-reverse;
    
}

.coisa3{
    display: flex;
    flex-direction: row;
    
}

.coisa4{
    display: flex;
    flex-direction: row-reverse;
    
}

.coisa5{
    display: flex;
    flex-direction: row;
    
}

.funcionamento{
    margin-top: 60px;
    margin-left: 80px;
}

.horario{
    height: 150px;
    width: 150px;
}

.ingressos{
    margin-top: 60px;
    margin-left: 80px;
}

.numeros{
    margin-top: 60px;
    margin-left: 80px;
}