*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.Logo{
    border-radius: 100px;
}

.texto{
    display: flex;
    flex-direction: column;
    
    
}

.qualquermerda{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ancoras{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    
}

.ancoras a {
    text-decoration: none;
    color: black;
}

.ancoras a:hover{
    color:#0D6BA6;
}


#Search{
    border-radius: 100px;
    height: 30px;
    width: 400px;
}

.pesquisa button{
    border-radius: 20px;
    height: 33px;
    width: 60px;

}

.pesquisa{
    display: flex;
    margin: 50px;
    gap: 5px;
    

}

.slides{
    display: flex;
    gap: 15px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F4BC33;
    
}