*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.Logo{
    border-radius: 100px;
}

.texto{
    display: flex;
    flex-direction: column;
    
}

.ancoras{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

#Search{
    border-radius: 100px;
    height: 20px;
}

.pesquisa button{
    border-radius: 20px;
    height: 26px;
    width: 60px;

}